src/*.o
src/another-world.bin
src/another-world.html
src/another-world.js
src/another-world.wasm
src/another-world.data
src/assets/BANK01
src/assets/BANK02
src/assets/BANK03
src/assets/BANK04
src/assets/BANK05
src/assets/BANK06
src/assets/BANK07
src/assets/BANK08
src/assets/BANK09
src/assets/BANK0A
src/assets/BANK0B
src/assets/BANK0C
src/assets/BANK0D
src/assets/MEMLIST.BIN
