*.bin
*.a
*.o
bin/another-world.bin
bin/another-world.html
bin/another-world.js
bin/another-world.wasm
bin/another-world.data
share/another-world/BANK01
share/another-world/BANK02
share/another-world/BANK03
share/another-world/BANK04
share/another-world/BANK05
share/another-world/BANK06
share/another-world/BANK07
share/another-world/BANK08
share/another-world/BANK09
share/another-world/BANK0A
share/another-world/BANK0B
share/another-world/BANK0C
share/another-world/BANK0D
share/another-world/MEMLIST.BIN
